<!DOCTYPE html>
<html>
<head>
	<title>Vue Js Bangla Tutorial</title>	
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div id="root">
	<!-- template for parent component -->
	<button @click="showLogin = loginVisibility">Login</button>  
	<!-- call child component -->
	<modal v-if="showLogin" @onsave="showLogin = false" @oncancel="showLogin = true">   
			<!-- @onsave @concancel are the emmited events from child modal component to parent -->
		<template slot="header">       
			Login Now
		</template>

		<template slot="body"> 
			<h1>Enter your name</h1>
			<input type="text" v-model="name">
		</template>
		<!-- This will be utilized at child component and what ever inside the modal component belongs to parent component-->
		<!-- With slot child component will get information from parent -->
	</modal>
</div>

<script type="text/javascript" src="../vue.js"></script>
<script type="text/javascript">
	Vue.component("modal", {             //child component
		template: `
			<div class="modal">
				<div class="modalContent">
					<div class="modalHeader">
						<slot name="header"></slot>
					</div>
					<div class="modalBody">
						<slot name="body"></slot>
					</div>

					<div class="modalFooter">
						<button @click="$emit('onsave')">Save</button>
						<button @click="$emit('oncancel')">Cancel</button>
					</div>
				</div>
			</div>	

		`,

		props: ["modalTitle"],
		data: function(){
			return {
				// show: true
			}
		}
	});


	var app = new Vue({          //parent component
		el: "#root",
		data: {
			showLogin: false,
			name:"Mizan"
		},
		methods: {
			loginVisibility: function(){
				this.showLogin = true;
			}
		}
	});
	
</script>

</body>
</html>