<html>

<head>
    <title></title>
</head>

<body>
    <div id="rootId">{{msg}}</div>

    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript">
    var app = new Vue({         // Vue instance has param object
        el: "#rootId",      //this is the Id where we want to display the message
        data : {           //at the first parent component it will be object but in other components it will be function
            msg: "Fire vue js project"
        }
    });  
    </script>



</body>

</html>