<html>

<head>
    <title></title>
</head>

<body>
    <div id="rootId">
        <p>
               {{inputMsg}} <input type="text" v-model= "name"/>  
               <!-- bind name property -->
        </p>
        <h2>{{outputMsg}}{{name}}</h2>
        
    
    </div>

    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript">
    var app = new Vue({         // Vue instance has param object
        el: "#rootId",      //this is the Id where we want to display the message
        data : {           //at the first parent component it will be object but in other components it will be function
            inputMsg: "Enter your name",
            name: "Mizan",
            outputMsg:"Your name is : "
        },
        mounted : function(){            //mounted will be called if vuejs is loaded successfully
            console.log("Mounted");
        }
    });
    
    
    </script>



</body>

</html>