<head>
    <title>Vue Js</title>
    <style type="text/css">
    </style>
</head>

<body>
    <div id="root">
        <ul>
            <!-- Attribute binding -->
            <li>
                <a v-bind:href="Facebook.url" :title="Facebook.title"> {{Facebook.text}} </a>
            </li>

            <li>
                <a :href="Youtube.url" :title="Youtube.title"> {{Youtube.text}} </a>
            </li>

            <li>
                <a :href="LinkedIn.url" :title="LinkedIn.title"> {{LinkedIn.text}} </a>
            </li>

            <br>
        </ul>
        <p v-html="html"></p>               
        <!-- only the text will be underlinked link -->
    </div>

    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: "#root",
            data: {
                Facebook: {
                    text: "Facebook",
                    title: "Go To Facebook",
                    url: "http://facebook.com"
                },

                Youtube: {
                    text: "Youtube",
                    title: "Go To Youtube",
                    url: "http://youtube.com"
                },
                LinkedIn: {
                    text: "LinkedIn",
                    title: "Go To LinkedIn",
                    url: "http://LinkedIn.com"
                },

                html: '<a href="http://LinkedIn.com"> About me</a>'
            }

        });
    </script>

</body>