<head>
    <title>Vue Js</title>
    <style type="text/css">
        ul {
            list-style: none;
        }

        .active {
            background: #03518A;
            padding: 5px;
            color: #FFFFFF;
        }
    </style>
</head>

<body>

    <div id="root">
        <ul>
            <!-- class binding conditional, class will be active if the condition met  -->
            <li>
                <a :class="{ 'active' : activeClass == 'link1'}" :href="link1.url" :title="link1.title"> {{link1.text}}
                </a>
            </li>
            <li>
                <a :class="{ 'active' : activeClass == 'link2'}" :href="link2.url" :title="link2.title"> {{link2.text}}
                </a>
            </li>
            <br>
        </ul>
    </div>

    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: "#root",
            data: {
                link1: {
                    text: "Facebook",
                    title: "Go To Facebook",
                    url: "http://facebook.com"
                },

                link2: {
                    text: "Youtube",
                    title: "Go To Youtubr",
                    url: "http://youtube.com"
                },
                activeClass: "link1"
            }

        });
    </script>

</body>