<!DOCTYPE html>
<html>

<head>
    <title>Vue Js</title>
    <style type="text/css">
        ul {
            list-style: none;
        }
    </style>
</head>


<body>

    <div id="root">

        <h2>Candidates</h2>
        <hr>
        <ul>
            <li v-for="name in names">
                {{ name }}
            </li>
            <!-- i is the index -->
        </ul>
        <h1>Skills</h1>
        <hr>
        <ul>
            <li v-for="(skill, i) in skillSet">
                {{i+1}}. {{ skill.name }} ({{skill.experience}})
            </li>
            <!-- i is the index -->
        </ul>


    </div>




    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: "#root",
            data: {
                names: ["Amin", "Malik", "Mona", "Lisa", "Chen", "Lee"],
                skillSet: [
                    { name: "HTML", experience: 5 },
                    { name: "CSS", experience: 4 },
                    { name: "JS", experience: 4 },
                    { name: "php", experience: 3 },
                    { name: "java", experience: 3 },
                    { name: "nodejs", experience: 1 }
                ]

            }
        });

    </script>

</body>

</html>