<!DOCTYPE html>
<html>

<head>
    <title>Vue Js</title>
</head>

<body>
    <div id="root">
        <h1>Skills</h1>
        <hr>
        <ul>
            <li v-for="(skill, i) in skills" v-if="skill.experience > 3">
                <p> {{i+1}}. {{ skill.name }} ({{skill.experience}}) </p>
            </li>
        </ul>
        <hr>
        <!-- element with skill.experience > 3 will not be added at DOM -->
        <ul>
            <li v-for="(skill, i) in skills" v-show="skill.experience > 3">
                <p> {{i+1}}. {{ skill.name }} ({{skill.experience}}) </p>
            </li>
        </ul>
        <hr>
        <ul>
            <!-- element with skill.experience > 3 will be added at DOM but with display none -->
        </ul>
        <hr>
        <h2>Show test</h2>
        <p v-if="show"> show if block</p>
        <p v-else> show else block</p>
    </div>




    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: "#root",
            data: {
                skills: [
                    { name: "HTML", experience: 5 },
                    { name: "CSS", experience: 5 },
                    { name: "JS", experience: 4 },
                    { name: "php", experience: 3 },
                    { name: "java", experience: 6 },
                    { name: "nodejs", experience: 2 }
                ],
                show: false
            }
        });

    </script>

</body>

</html>