<!DOCTYPE html>
<html>
<head>
	<title>Vue Js</title>
</head>
<body>

<div id="root">
	<h1>Skills</h1> <hr>
	<ul>
		<li v-for="(skill, index) in skillset">
            <p>{{skill}} <button @click="removeSkill(index)">x</button></p>
            <!-- @click is short form of v-on:click -->
		</li>
	</ul>

    <input type="text" placeholder="Enter skill" v-model="newSkill">
     <!-- 2 way binding will be established here -->
	<button v-on:click="addSkill()"> Add </button>
	
</div>




<script type="text/javascript" src="vue.js"></script>
<script type="text/javascript">
	var app = new Vue({
		el: "#root",
		data: {
			newSkill: "",
			skillset: ["HTML", "CSS", "JS"] 
		},

		methods:{
			addSkill: function(){
				this.skillset.push(this.newSkill);
				this.newSkill = "";
			},

			removeSkill: function(index){
				this.skillset.splice(index, 1);    //delete 1 element from index
			}
		}
	});
	
</script>

</body>
</html>