<!DOCTYPE html>
<html>

<head>
	<title>Vue Js</title>
</head>

<body>

	<div id="root">
		<h1>Payments</h1>
		<hr>
		<ul>
			<li v-for="(p, i) in payments">
				<p v-if="p.paid">
					{{p.name}} - {{p.amount}} -> {{paidStatus}}
				</p>
				<p v-if="!p.paid">
					{{p.name}} - {{p.amount}} -> {{unPaidStatus}}
				</p>
			</li>
		</ul>

		<strong>
			<p>Total Amount: {{ totalAmounts }}</p>
			<p>Total unpaid amount: {{ totalAmountsUnpaid }}</p>
			<!-- computed function, no () -->
		</strong>

		<h1>Unpaid Payments</h1> <hr>
	<ul>
		<li v-for="(p, i) in unPaidPayments">
			<p>
				{{p.name}} -> {{p.amount}}
			</p>
		</li>
	</ul>
	</div>




	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript">
		var app = new Vue({
			el: "#root",
			data: {
				msg: "",
				payments: [
					{ name: "houseRent", amount: 15000, paid: false },
					{ name: "gas", amount: 700, paid: true },
					{ name: "electricity", amount: 1000, paid: false },
					{ name: "water", amount: 800, paid: true },
					{ name: "net", amount: 1200, paid: false }
				],
				paidStatus: "Paid",
				unPaidStatus: "Unpaid"
			},

			computed: {        //computed is calculating something that is not used on data.payments
				unPaidPayments: function () {
					var unpaidPayments =this.payments.filter(function (payment) {
						return !payment.paid;
					});
					return unpaidPayments;
				},

				totalAmounts: function () {  // we have calculated this total amount using data at computed section
					var totalAmount = 0;
					for (var i = 0; i < this.payments.length; i++) {
						totalAmount += this.payments[i].amount;
					}

					return totalAmount;
				},
				totalAmountsUnpaid: function(){
					var totalAmountUnpaid = 0;
					for (var i = 0; i < this.payments.length; i++) {
						if(!this.payments[i].paid){
							totalAmountUnpaid += this.payments[i].amount;
						}					
					}
					return totalAmountUnpaid;
				}
			}
		});

	</script>

</body>

</html>