<!DOCTYPE html>
<html>
<head>
	<title>Vue Js</title>
	
</head>
<body>

<div id="root">
	{{name | lowercaseLocal}} <br>
	{{name | uppercaseLocal}} <br>

	{{profession | uppercaseGlobal}} <br>
	{{profession | lowercaseGlobal}} <br>

	Today is {{today | dateFormat}}
</div>




<script type="text/javascript" src="vue.js"></script>
<script type="text/javascript">
	Vue.filter("lowercaseGlobal", function(s){           //global filtering technique
		return s.toLowerCase();
	});

	Vue.filter("uppercaseGlobal", function(s){
		return s.toUpperCase();
	});

	Vue.filter("dateFormat", function(s){
		return s.getUTCDate() + "-" + (s.getUTCMonth()+1) + "-" + s.getUTCFullYear();
	});




	var app = new Vue({
		el: "#root",
		data: {
			name: "Muhammad M Rahman",
			profession: "Software Developer",
			today: new Date()
		},

		filters:{                            //local filtering technique
			uppercaseLocal: function(s){
				return s.toUpperCase();
			},
			lowercaseLocal: function(s){
				return s.toLowerCase();
			}
		}
	});
	
</script>

</body>
</html>