<!DOCTYPE html>
<html>

<head>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vuex"></script>
</head>

<body>
    <div id="app">
        <h1>{{welcome}}</h1>
        <!-- store state -->
        <h2>{{message}}</h2>
        <!-- from computed property -->
        <h3>{{getterMsg}}</h3>
        <!-- store getter method -->
        <h3>{{count}}</h3>
        <button @click="pressed">Increment Counter using mutation</button>
        <button @click="actionPressed">Increment Counter using actions</button>

    </div>
    <script>
        const store = new Vuex.Store({
            state: {  //data that can be available througout the application
                msg: "hello from view",
                count: 0
            },
            mutations: {
                increment(state, payload) {  //for computation/update it is used
                    state.count += payload;  //always synchronous
                }
            },
            actions: { //asynchronous/synchronous, like mutation
                increments(state,payload){
                    state.commit('increment',payload)
                }
            },
            getters: { //one way of getting information from the store, from computed of component we can do that too
                message(state) {
                    return state.msg.toUpperCase();
                },
                count(state) {
                    return state.count;

                }
            }
        })
        new Vue({
            el: '#app',
            data() {
                return {
                    welcome: "Hello"
                }
            },
            computed: {
                message() {
                    return store.state.msg;
                },
                getterMsg() {
                    return store.getters.message;
                },
                count() {
                    return store.getters.count;
                }
            },
            methods: {
                pressed() {
                    store.commit('increment', 10);
                },
                actionPressed(){
                    store.dispatch('increments',20)
                }
            }
        });

    </script>

</body>

</html>



<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h1,
    h2 {
        font-weight: normal;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
</style>