<!DOCTYPE html>
<html>
<head>
	<title>Vue Js Bangla Tutorial</title>	
	<style type="text/css">
		.section1,.section2, .section3{
			min-height: 222px;
			width: 280px;
			text-align: center;		
		}
		.section2{
			background: red;
			margin-left: 35%;
		}
		.section1{
			margin-left: 0px;
			background: #DBF2B5;
		}

		.section3{
			margin-left: 70%;
			background: blueviolet;
		}


		.fade-enter-active, .fade-leave-active {
		  transition: opacity 1s
		}
		/* transition animation is added on opacity */
		.fade-enter, .fade-leave-to  {    
		  opacity: 0;
		}
        /*------------------------------------------*/

		.topPos-enter-active, .topPos-leave-active {
		  transition: margin-top 1s
		}
		/* transition animation is added on opacity */
		.topPos-enter, .topPos-leave-to  {    
		  margin-top: -500px;
		}

		/*-----------------------------*/
		.rotation-enter-active, .rotation-leave-active {
		  transition: transform 2s
		}
		/* transition animation is added on opacity */
		.rotation-enter, .rotation-leave-to  {    
		  transform: rotate(180deg);
		}

		/*-----------------------------*/

		.bar-enter-active, .bar-leave-active {
		  transition: margin-left .5s
		}
		.bar-enter, .bar-leave-to  {    
		  margin-left: -200px;
		}


		/* -enter -> original position for animation
		-leave-to -> destination for animation
		-enter-active -> means coming to a stable state
		-leave-active -> means coming to a stable end */


	</style>
</head>
<body>

<div id="root">	
	<button @click="show = !show">Toggle</button>
	<!-- animation is added below -->
	<transition  name="fade">	
		<div class="section1" v-show="show"> Animation on opacity</div>
	</transition>
	<transition  name="topPos">	
			<div class="section2" v-show="show"> Animation on top position change </div>
	</transition>

	<transition  name="rotation">	
			<div class="section3" v-show="show"> Animation on rotation </div>
	</transition>

	<h1>Skills</h1> <hr>
	<input type="text" placeholder="Enter skill" v-model="newSkill">
	<button v-on:click="addSkill()"> Add </button>
	<br><br><br>
	<ul>
		<!-- Animation is added below as it is a list we added transition-group and name is needed for animation -->
		<transition-group name="bar">	
			<li v-for="(skill, i) in skills" :key="i">
				<p>{{skill}} <button @click="removeSkill(i)">x</button></p>
			</li>
		</transition-group>	
	</ul>

	
</div>

<script type="text/javascript" src="../vue.js"></script>
<script type="text/javascript">

	var app = new Vue({
		el: "#root",
		data: {
			show: false,
			newSkill: "",
			skills: ["HTML", "CSS", "JS", "PHP"] 
		},

		methods:{
			addSkill: function(){
				this.skills.push(this.newSkill);
				this.newSkill = "";
			},

			removeSkill: function(i){
				this.skills.splice(i, 1);
			}
		}
	});
	
</script>

</body>
</html>