<!DOCTYPE html>
<html>
<head>
	<title>Vue Js</title>	
	<style type="text/css">
	</style>
</head>
<body>

<div id="root">	
	<button @click="getPosts()">Call GET API</button>
	<div v-for="(item, i) in posts">
		<h2>{{item.title}}</h2>
		<p>{{item.id}}</p>
		<p>{{item.body}}</p>
	
</div>

<script type="text/javascript" src="../vue.js"></script>
<script type="text/javascript" src ="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script type="text/javascript">

	var app = new Vue({
		el: "#root",
		data: {
			posts: []
		},

		methods:{
			getPosts: function(){
				var self = this;
				axios.get("https://jsonplaceholder.typicode.com/posts").then(function(response){
                 self.posts = response.data;
				})   // here this won't work as it has scope only inside the function
			}
			
		}
	});
	
</script>

</body>
</html>