<!DOCTYPE html>
<!-- parent template -->
<html>
<head>
	<title>Vue Js</title> 
	<link rel="stylesheet" type="text/css" href="style.css">	
</head>
<body>

<div id="root">	  
	<!-- attribute binding is necessary here -->
	<panel :title="panelTitle">    
		{{panelContent}}
	</panel>
	<!-- call child component panel -->
</div>

<script type="text/javascript" src="../vue.js"></script>
<script type="text/javascript">
	Vue.component("panel", {                          //global component declaration
		template: `
			<div class="panel" v-if="show">
				<div class="panelTitle">
					{{title}}
					<div class="close" @click="show = false">x</div>
				</div>
				<div class="panelContent">
					<p>				
						<slot></slot>
					</p>
				</div>
			</div>
		`,
		props: ['title', 'content'],         //attribute name and content name will be passed as props at child

		data: function(){                 //data will be function in child component
			return {
				show: true	
			}
		}
	});


	var app = new Vue({              //parent component
		el: "#root",
		data: {
			panelTitle: "Child component header title",
			panelContent: "User information"
		}
	});
	
</script>

</body>
</html>